/* standard.css */

/*  ====================================
    CSS VARIABLES
    ==================================== 
*/

:root {
    --white-color: #fff;
    --body-font-color: #424242;
    --body-font: .875em/1.3em Ubuntu;
    --h1-font-color: #3a454d;
    --h1-font: 1.8em/1.2em Ubuntu;
    --h2-font-color: #2d93ce;
    --h2-font: 1.4em/1.2em Ubuntu;
    --h3-font-color: #7a7a7a;
    --h3-font: 1.250em/1.3em Ubuntu;
    --h3-font-size: 100%;
    --h3-font-weight: bold;
    --h4-font-color: #325f73;
    --h4-font-size: 115%;
    --h6-font-size: .875em;
    --a-hover-color: #26a2eb;
    --navbar-bg-color: #3a454d;
    --navbar-font: 1.250em/1.3em Ubuntu;
    --navbar-font-weight: 300;
    --submenu-bg-color: #2d94cf;
    --submenu-item-bg-color: #738a99;
    --content-bg-color: rgba(255, 255, 255, .6);
    --article-border-color: #2e92d0;
    --article-bg-color: #e3e3e3;
    --footer-bg-color: rgba(102,119,130,.8);
}

/*  ====================================
    OVERALL
    ==================================== 
*/

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/body-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--body-font-color);
    font: var(--body-font);
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0 0 12px;
    padding: 0;
}

h1 {
    margin: 0 0 1.4em;
    color: var(--h1-font-color);
    font: var(--h1-font);
}

h2 {
    margin: 0 0 .5em;
    padding: 0;
    color: var(--h2-font-color);
    font: var(--h2-font);
}

h3 {
    display: block;
    padding: 0;
    font-size: var(--h3-font-size);
    color: var(--h3-font-color);
    font-weight: var(--h3-font-weight);
}

h4 {
    margin: 0;
    padding: 0;
    font-size: var(--h4-font-size);
    color: var(--h4-font-color);
}

h6 {
    margin: 0;
    padding: 0;
    font-size: var(--h6-font-size);
}

a {
    text-decoration: none;
    color: var(--body-font-color);
}

a:visited {
    text-decoration: underline;
    color: var(--a-visited-color);
}

a:hover {
    text-decoration: none;
    color: var(--a-hover-color);
}

/* .button a:link, .button a:visited {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 7px;
    background-color: #2d94cf;
    border-radius: 2px;
    font-size: 1.125em;
    text-decoration: none;
    color: #fff
} */

/*  ====================================
    HEADER
    ==================================== 
*/

header {
    margin-right: auto;
    margin-left: auto;
    background-color: var(--content-bg-color);
}

.header__logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo__img {
    display: block;
    width: 100%;
    height: 100%;
}

/*  ====================================
    NAVBAR
    ==================================== 
*/

nav {
    display: flex;
    justify-content: left;
    background: var(--navbar-bg-color);
    font: var(--navbar-font);
    font-weight: var(--navbar-font-weight);
    text-transform: uppercase;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu:first-child {
    margin-left: 16px;
}

.menu .menu__item {
    float: left;
    transition-duration: 0.5s;
    color: var(--white-color);
    padding: 13px 14px;
    margin: 0;
    position: relative;
}

.menu .menu__item i {
    padding-left: 5px;
}

.menu .menu__item a {
    color: var(--white-color);
}

.menu .menu__item:hover {
    background: var(--a-hover-color);
    cursor: pointer;
}

.menu .menu__item .submenu {
    background: var(--submenu-bg-color);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.1s ease;
    padding: 0;
    margin-top: 0.8rem;
    left: 0;
    display: none;
    list-style: none;
}

.menu .menu__item:hover>.submenu, .menu .menu__item .submenu:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu .menu__item .submenu .menu__item {
    display: block;
    float: none;
}

.menu .menu__item .submenu .menu__item:hover {
    background: var(--navbar-bg-color);
}

/*  ====================================
    (SECTION) CONTENT 
    ==================================== 
*/

.content {
    margin-top: 0;
    padding: 30px 30px;
    background-color: var(--content-bg-color);
}

.content__welcome {
    margin-bottom: -30px;
}

.content__promo-bild {
    margin-bottom: 30px;
}

.content__new-level-promo {
    vertical-align: middle;
}

.content__mitglied-werden {
    vertical-align: bottom;
}

/*  ====================================
    (SECTION) BOXES WRAPPER
    ==================================== 
*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "main-section side-section";
}

/*  ====================================
    (ARTICLE) HOMEPAGE BOXES
    ==================================== 
*/

article {
    border: 3px solid var(--article-border-color);
    border-radius: 10px;
    background: var(--article-bg-color);
    padding: 10px;
}

article h1 {
    color: var(--h2-font-color);
    margin-bottom: 10px;
}

/*  ====================================
    (SECTION) MAIN-SECTION
    ==================================== 
*/

.main-section {
    grid-area: main-section;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "anlage vorteile";
    column-gap: 10px;
}

/*  ====================================
    UNSEREM HAUS
    ==================================== 
*/

.article__anlage {
    grid-area: anlage;
    height: min-content;
}

.article__anlage .anlage__address {
    float: left;
    text-decoration: none;
    font-style: normal;
    padding-left: 5px;
}

.article__anlage .anlage__address p {
    font: var(--h2-font);
    line-height: .5em;
}

.article__anlage .anlage__bsa-logo {
    float: right;
    width: 125px;
    padding-right: 10px;
}

.article__anlage .anlage__bsa-outside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

/*  ====================================
    DEINE VORTEILE
    ==================================== 
*/

.article__vorteile {
    grid-column: 2/3;
    grid-area: vorteile;
    margin-right: 10px;
}

.vorteile__circles {
    width: 100%;
}

/*  ====================================
    (SECTION) SIDE-SECTION
    ==================================== 
*/

.side-section {
    grid-area: side-section;
}

.side-section p, .side-section a {
    font: var(--h3-font);
}

/*  ====================================
    TRAININGSZEITEN
    ==================================== 
*/

.article__trainingszeiten {
    margin-bottom: 10px;
}

.trainingszeiten__title {
    margin: 0;
}

.trainingszeiten__list {
    margin: 0;
    padding: 10px;
}


/*  ====================================
    KONTAKT
    ==================================== 
*/


/*  ====================================
    FOOTER
    ==================================== 
*/

footer {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    background: var(--footer-bg-color);
    color: var(--white-color);
}

.footer__link a {
    text-decoration: underline;
    color: var(--white-color);
}

.footer__link a:hover {
    text-decoration: none;
}